.ColorTokenGroupsEditor__color-token__swatch-colors-list {
  display: flex;
  margin: 5px 0;
}

.ColorTokenGroupsEditor__color-token__swatch-color {
  width: 10px;
  height: 10px;
  padding: 4px;
  border: 2px solid transparent;
  margin: 2px;
  cursor: pointer;
}

.ColorTokenGroupsEditor__color-token__swatch-color.ColorTokenGroupsEditor__color-token__swatch-color--is-selected {
  border-color: var(--color-interactive);
}
