.GoalsOverviewPage {
}

.GoalsOverviewPage__goal-group {
  margin-bottom: 30px;
}

.GoalsOverviewPage__goal-group__title {
  padding: 0 0 10px;
  border-bottom: 1px solid var(--b_low);
  margin: 0 0 20px;
}

.GoalsOverviewPage__goal-group__body.GoalsOverviewPage__goal-group__body--empty {
  color: var(--f_low);
}

.GoalsOverviewPage__goal-groups-section {
  margin-bottom: 50px;
}

.GoalsOverviewPage__goal-form-wrapper {
  padding-top: 10px;
}
