.ThemeEditor {
}

.ThemeEditor__section {
  padding: 5px 0 15px;
}

.ThemeEditor__section-title {
  padding: 0 0 5px;
  border-bottom: 1px solid var(--color-foreground);
  margin: 0 0 15px;
}

.ThemeEditor__action-buttons {
  display: flex;
}

.ThemeEditor__action-buttons > * {
  margin-right: 10px;
}

.ThemeEditor__action-buttons > *:last-child {
  margin-right: 0;
}
