.Sidebar {
}

.Sidebar__body {
  /*padding: 20px 0;*/
}

.Sidebar__section {
  padding: 0 20px;
}

.Sidebar__section-header {
  display: flex;
  padding: 18px 0;
  border-bottom: 1px solid var(--color-foreground);
  cursor: pointer;
}

.Sidebar__section-header-toggle-icon {
  margin-left: auto;
}

.Sidebar__section-title {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.Sidebar__section-body {
  padding: 15px 7px;
}

.Sidebar__section-body--is-open {
}

.Sidebar__section-body--is-closed {
  display: none;
}
