.Sidebar {
}

.Sidebar__body {
  padding: 20px 0;
}

.Sidebar__section {
  padding: 5px 20px 25px;
}

.Sidebar__section-title {
  padding: 0 0 5px;
  border-bottom: 1px solid var(--f_high);
  margin: 0 0 15px;
  font-size: 14px;
}
